@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: #9ecae0;
}

/* Logo Styling */
img {
    height: 30px;
    width: 30px;
    position: absolute;
    top: 30px;
    left: 50px;
}

/* Responsive Input */
@media (min-width: 768px) {
    .news-input {
        width: 50%;
    }
}

@media (max-width: 768px) {
    img {
        left: 10px;
    }
    .news-input {
        width: 80%;
    }
}
